<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h3>Member List Page</h3>
                <div class="row row-cols-1 row-cols-md-3">
                    <div th:each="mvo : ${list}">
                        <div class="col" style="max-width: 250px;">
                            <div class="card h-100">
                                <img src="/image/프로필.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">[[${mvo.nickName}]]([[${mvo.email}]])</h5>
<!--                                    <p class="card-text">최근 접속일 : [[${mvo.lastLogin}]]</p>-->
                                    <p class="card-text text-danger">
                                        (<span th:each="authList:${mvo.authList}">
                                        [[${authList.auth}]]</span>)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </th:block>
</th:block>
