<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <th:block th:with="bvo=${bdto.bvo}">
            <div class="container-sm">
            <h1>Board Detail Page</h1>
            <form action="/board/modify" method="post" id="modForm">
                <input type="hidden" name="bno" th:value="${bvo.bno}">
                <div class="my-3">
                    <label for="created">Created At : </label>
                    <input type="text" class="form-control" id="created" th:value="${bvo.regAt}" readonly>
                </div>
                <div class="mb-3">
                    <label for="modified">Modified At : </label>
                    <input type="text" class="form-control" id="modified" th:value="${bvo.modAt}" readonly>
                </div>
                <div class="mb-3">
                    <label for="title">Title : </label>
                    <input type="text" class="form-control" id="title" name="title"
                           th:value="${bvo.title}" readonly>
                </div>
                <div class="mb-3">
                    <label for="writer">Writer : </label>
                    <input type="text" class="form-control" id="writer" name="writer"
                           th:value="${bvo.writer}" readonly>
                </div>
                <div class="mb-3">
                    <label for="content">Content : </label>
                    <textarea name="content" id="content" cols="50" rows="5"
                              class="form-control" readonly>[[${bvo.content}]]
                    </textarea>

                    <!-- file upload 표시 라인 -->
                    <div class="mb-3">
                        <ul class="list-group list-group-flush">
                            <li th:each="fvo : ${bdto.flist}" class="list-group-item">
                                <div th:if="${fvo.fileType > 0}" class="ms-2 me-auto">
                                    <img th:src="@{|/upload/${fvo.saveDir}/${fvo.uuid}_th_${fvo.fileName}|}">
                                    <!-- 일반 파일 다운로드(파일 모양 아이콘) -->
                                    <a th:href="@{|/upload/${fvo.saveDir}/${fvo.uuid}_${fvo.fileName}|}" th:download="${fvo.fileName}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-earmark-zip-fill" viewBox="0 0 16 16">
                                            <path d="M5.5 9.438V8.5h1v.938a1 1 0 0 0 .03.243l.4 1.598-.93.62-.93-.62.4-1.598a1 1 0 0 0 .03-.243"/>
                                            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-4-.5V2h-1V1H6v1h1v1H6v1h1v1H6v1h1v1H5.5V6h-1V5h1V4h-1V3zm0 4.5h1a1 1 0 0 1 1 1v.938l.4 1.599a1 1 0 0 1-.416 1.074l-.93.62a1 1 0 0 1-1.109 0l-.93-.62a1 1 0 0 1-.415-1.074l.4-1.599V8.5a1 1 0 0 1 1-1"/>
                                        </svg>
                                    </a>
                                </div>
                                <div th:unless="${fvo.fileType > 0}" class="ms-2 me-auto">
                                </div>
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">[[${fvo.fileName}]]</div>
                                    [[${fvo.regAt}]]
                                </div>
                                <span class="badge bg-dark rounded-pill">[[${fvo.fileSize}]]Bytes</span>
                            </li>
                        </ul>
                    </div>

                    <br> <hr>

                </div>
                <button type="button" id="listBtn" class="btn btn-outline-primary">List</button>
                <!-- detail page에서 modify 상태로 변경하기 위한 버튼 -->
                <button type="button" id="modBtn" class="btn btn-outline-warning">Modify</button>
                <button type="button" id="delBtn" class="btn btn-outline-danger">Remove</button>
            </form>
            <form action="/board/remove" method="post" id="delForm" style="display:none">
                <input type="hidden" name="bno" th:value="${bvo.bno}">
            </form>
        </div>
        <script th:src="@{/js/boardDetail.js}"></script>
        </th:block>
    </th:block>
</th:block>